/* Estilos para el componente de gestión de órdenes */
form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 10px 0 5px 0;
  }
  
  input, button {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkmagenta;
  }
  